$theme = #F4A900
   .noContant {
    position: absolute;
   color:rgba(0, 0, 0, 0.6);
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
.background{
  background: #eeedf2;
  min-height:100vh;

}